<a href="https://colab.research.google.com/github/NgocTram1312/ngoctram05.github.io/blob/main/baitap16_08_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')

Hello World

In [ ]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv*((1 + (r))**n)
print(round(fv, 2))

194.87

In [ ]:
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [ ]:
# Python Function def
def getfv(pv, r, n):
  fv = pv * ((1+ (r)) ** n)
  return fv
fv = getfv( 100, 0.1, 7)
print(round(fv, 2))

194.87

In [ ]:
# Python if else
score = 80
if score >=60 :
  print("Pass")
else:
  print("Fail")

Pass

In [ ]:
# Python Varriables
x = 2
price = 2.5
word = 'Hello'

word = 'Hello'
word = "Hello"
word = '''Hello'''
print(f'x = {x, type(x)}, price = {price, type(price)}, word = {word, type(word)}

SyntaxError: unterminated string literal (detected at line 9) (ipython-input-693795240.py, line 9)

In [ ]:
x = 2
y = x + 1

In [ ]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

In [ ]:
x = "Hello World" #str
x = 2 #int
x = 2.5 #float
x = 7j #complex

In [ ]:
x = str(3)
print(x, type(x))
y = int(3)
print(y, type(y))
z = float(3)
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [ ]:
#BMI Caculator in Python
height_cm = 170
weight_kg = 60
height_m = height_cm/100
BMI = ( weight_kg/ (height_m**2))

print("Your BMI is: " + str(round(BMI, 1)))

Your BMI is: 20.8

In [ ]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv= ', round(fv, 2))
#output = 194.87

fv=  194.87

In [ ]:
# Future value
pv = 100
r - 0.1
n = 7
fv = pv * ((1+(r)) ** n )
print(round(fv, 2))

194.87

In [ ]:
#list
x = [60, 70, 80, 90 ]
print(len(x))
print(x[0])
print(x[0])
print(x[-1])

4
60
60
90

In [ ]:
# tuples
x = ( 10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

In [ ]:
#Sets
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [ ]:
# {key:value}
k = { 'EN':'English', 'FR': 'French'}
print (k['EN'])

English

In [ ]:
# Python Data Structures
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

In [ ]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [ ]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
  print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [ ]:
account_numbers = set([acc[1] for acc in accounts]) # set comprehensive
print(account_numbers)
new_account_number = 1004
if new_account_number not in account_numbers:
  print(f'Account number {new_account_number} is not in use')

{1001, 1002, 1003}
Account number 1004 is not in use

In [ ]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
 print("Account number:", account_number)
 print("Account name:", account_info["name"])
 print("Account balance:", account_info["balance"])
 print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

In [ ]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for acc_num, acc_info in accounts.items():
  print('-'*50)
  print('Account Number: ', acc_num)

  print('Account Name: ', acc_info['name'])
  print('Account Balance: ', acc_info['balance'])
  print('Account Type: ', acc_info['type'])

--------------------------------------------------
Account Number:  1001
Account Name:  Cash
Account Balance:  500.0
Account Type:  Asset
--------------------------------------------------
Account Number:  1002
Account Name:  Accounts Receivable
Account Balance:  1000.0
Account Type:  Asset
--------------------------------------------------
Account Number:  2001
Account Name:  Accounts Payable
Account Balance:  750.0
Account Type:  Liability

In [ ]:
# Python if else
score = 80
if score >=60 :
  print("Pass")
else:
  print("Fail")

Pass

In [ ]:
# Python if elif else
score = 90
grade = "100"
if score >=90:
  grade = "A"
elif score >= 80:
  grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
  grade = "D"
else:
  grade = "E"
print(grade)

A

In [ ]:
for i in range(1,6):
  print(i, end = ' ')

1 2 3 4 5

In [ ]:
# for loops
for i in range(1,10):
  for j in range(1,10):
    print(i, ' * ' , j , ' = ', i*j)
  print('-'*50)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
--------------------------------------------------
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
--------------------------------------------------
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
--------------------------------------------------
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
--------------------------------------------------
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
--------------------------------------------------
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
--------------------------------------------------
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
--------------------------------------------------
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
--------------------------------------------------
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
--------------------------------------------------

In [ ]:
# Python class
class MyClass:
 x = 5
c1 = MyClass()
print(c1.x)

5

In [ ]:
class Person:
 def __init__(self, name, age):
  self.name = name
  self.age = age
p1 = Person("Alan", 20)
print(p1.name)
print(p1.age)

Alan
20

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()

Hello my name is Alan

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def myfunc(self):
    print("Hello my name is " + self.name)
p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

In [ ]:
#import module
%%writefile mymodule.py
def greeting(name):
  print("Hello,", name)

Overwriting mymodule.py

In [ ]:
!cat mymodule.py #check lai file

def greeting(name):
  print("Hello,", name)

In [ ]:
import mymodule as m1
import importlib
importlib.reload(m1)
m1.greeting('Alan')
m1.greeting_