<a href="https://colab.research.google.com/github/NgocTram1312/ngoctram05.github.io/blob/gh-pages/Buoi02_KTLTSP_BT_Minh_h%E1%BB%8Da.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
## ham kiem tra so nguyen to
def ktsnt(n):
    if n < 2: # 0, 1 khong la so nguyen to
        return False
    for i in range(2, int(n**(0.5))+1): # can bac hai cua n
        if (n % i == 0):
            return False
    return True
### nhap vao so nguyen can kiem tra
a = int(input("Nhap vao so nguyen:"))
if ktsnt(a):
    print("%d la so nguyen to" % a)
else:
    print("%d khong la so nguyen to" % a)

Nhap vao so nguyen:4
4 khong la so nguyen to

In [6]:
### ham liek ke cac so nguyen to nho hon n
def lietkesnt(k):
    if k <= 2:
        print("khong co so nguyen to thoa yeu cau")
    else:
        for i in range(2,k):
            if ktsnt(i):
                print("%d " %i)
n = 20
lietkesnt(n)

2
3
5
7
11
13
17
19

In [9]:
### ham liet ke M
def lietkeMsnt(M):
    bien_dem = 0 # dem : tu 0 den M-1
    t = 2 # 0 va 1 khong la so nguyen to
    while(bien_dem < M):
        if ktsnt(t):
            print("%d " %t)
            bien_dem +=1
        t+=1
M=10
lietkeMsnt(M)

2
3
5
7
11
13
17
19
23
29

In [12]:
def insochan(M,N):
    for i in range (M+1,N):
        if i % 2 == 0 :
            print("%d " %i)
M = int(input("Nhap chan duoi:"))
N = int(input("Nhap chan tren:"))
insochan(M,N)

Nhap chan duoi:10
Nhap chan tren:20
12
14
16
18

In [14]:
def lietke1(M,N):
    for i in range(M,N+1):
        if (i%7==0) and (i%5!=0):
            print("%d " %i)
M = 99
N = 999
lietke1(M,N)

112
119
126
133
147
154
161
168
182
189
196
203
217
224
231
238
252
259
266
273
287
294
301
308
322
329
336
343
357
364
371
378
392
399
406
413
427
434
441
448
462
469
476
483
497
504
511
518
532
539
546
553
567
574
581
588
602
609
616
623
637
644
651
658
672
679
686
693
707
714
721
728
742
749
756
763
777
784
791
798
812
819
826
833
847
854
861
868
882
889
896
903
917
924
931
938
952
959
966
973
987
994

In [16]:
def Tinh(n):
    tong= 0
    dem = 0
    while(n>0):
        sodu = n%10
        tong = tong+sodu
        dem = dem+1
        n = n//10
        print(sodu)
    return tong,dem
a = int(input("Nhap n:"))
tong, sochuso = Tinh(a)
print("so luong chu so: %d" % sochuso)
print("tong cac chu so:%d" %tong)

Nhap n:50
0
5
so luong chu so: 2
tong cac chu so:5

In [18]:
def giaithua(n):
    if n == 1:
        return 1
    else:
        return (n * giaithua(n-1))
num = 5
print("Giai thừa của", num, "là", giaithua(num))

Giai thừa của 5 là 120

In [2]:
def power(a,b):
    if b==0:
        return 1
    elif a==0:
        return 0
    elif b==1:
        return a
    else:
        return a*power(a,b-1)
a = 2
b = 3
print(a,"^",b,"=", power(a,b))

2 ^ 3 = 8

In [4]:
def chieudaichuoi(strl):
  count = 0
  for chart in strl:
    count +=1
  return count
ss = 'hello world...!!!!'
print('chieu dai chuoi : {}'.format(chieudaichuoi(ss)))
print('check len()function:',len(ss))

chieu dai chuoi : 18
check len()function: 18

In [5]:
### TH1: Dung split
test_string = "Tach chuoi dung split"
print ("input:", test_string)
temp = test_string.split()
print("tach tu:", temp)
res = len(temp)
print ("The number of words in string are : ",str(res))

input: Tach chuoi dung split
tach tu: ['Tach', 'chuoi', 'dung', 'split']
The number of words in string are :  4

In [7]:
### TH2: Khong dung split
test_string = "tach chuoi thanh tu"
if len(test_string) == 0 or (test_string.isspace()):
    print("The number of words in string are = ", 0)
else:
    total = 0
    test_string = test_string + ' ' # Add a space at the end to count the last word
    for i in range(len(test_string) - 1):
        if (test_string[i] != ' ' and test_string[i+1] == ' '):
            total = total + 1
    print("The number of words in string are ", total)

The number of words in string are  4

In [9]:
from re import L
test_string = " !! fdafdaf"
valid_symbols = "!@#$%^&*()_-+={}[]<>`/>,"
def dem_nguyenam_phuam(string):
  nguyenam = 0
  phuam = 0
  for char in string:
    if char != ' ' and char not in valid_symbols:
      if char in "aeiouAEIOU":
        nguyenam = nguyenam + 1
      else:
        phuam = phuam + 1
  return nguyenam, phuam

print(len(test_string))
v,c = dem_nguyenam_phuam(test_string)
print(v,c)

11
2 5

In [11]:
A = ['3', '27', '5', '123','9','l']
print("Input:", A)
StringSort = sorted(A)
print("StringSort:", StringSort)
def myintSort(a):
  return int(a)
  INTSort = sorted(A,key=myintSort)
  print("INTSort:", INTSort)

Input: ['3', '27', '5', '123', '9', 'l']
StringSort: ['123', '27', '3', '5', '9', 'l']

In [12]:
A = [12,24,35,70,88,120,155]
print("Input:",A)
indexR = [1,2,3,6]
B = [x for i, x in enumerate(A) if i not in indexR]
print("Sau khi Xoa:",B)

Input: [12, 24, 35, 70, 88, 120, 155]
Sau khi Xoa: [12, 88, 120]

In [14]:
A = [1,1,1,2,2,2,3,1,2,5,6,7,8,5,6,7]
print("Input", A)
B = []
[B.append(x)for x in A if x not in B]
print("Output_l:",B)
### List comprehension
newlist=[ii for n, ii in enumerate(A) if ii not in A[:n]]
print("Output_2:",newlist)
#dung tap hop
Newlist_set= list(set(A))
print("Output_3:",Newlist_set)
# dung tu dien
mylist = list(dict.fromkeys(A))
print("Output_4:", mylist)

Input [1, 1, 1, 2, 2, 2, 3, 1, 2, 5, 6, 7, 8, 5, 6, 7]
Output_l: [1, 2, 3, 5, 6, 7, 8]
Output_2: [1, 2, 3, 5, 6, 7, 8]
Output_3: [1, 2, 3, 5, 6, 7, 8]
Output_4: [1, 2, 3, 5, 6, 7, 8]

In [16]:
A = [1,1,1,1,2,2,2,2,3,3,4,5,5]
# khong dung set va dicionary
e=[]
for i in range(len(A)):
    if A[i] not in e:
        e.append(A[i])
print(A[i],":",A.count(A[i]),sep='',end =",")
print("\n")
# dung tap hop
b = [[x,A.count(x)] for x in set(A)]
print(b)
for i in range(len(b)):
    print(b[i][0],":",b[i][1],sep='',end =",")
print("\n")
# dung tu dien
d = {x:A.count(x) for x in A}
print(d)
# dung Counter()
import collections
ctr = collections.Counter(A)
print(ctr)

5:2,

[[1, 4], [2, 4], [3, 2], [4, 1], [5, 2]]
1:4,2:4,3:2,4:1,5:2,

{1: 4, 2: 4, 3: 2, 4: 1, 5: 2}
Counter({1: 4, 2: 4, 3: 2, 5: 2, 4: 1})